@font-face {
  font-family: unscii16;
  src: url("/fonts/unscii-16.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  background-color: rgb(158, 67, 67);
  padding: 10px;
  width: 100%;
  display: inline-block;
}

.header-end {
  float: right;
}

.badges {
  text-align: center;
}

* {
  font-family: unscii16, 'Courier New', Courier, monospace;
  font-smooth: never;
  text-transform: lowercase;
  -webkit-font-smoothing: none;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

code, code > * {
  background-color: rgb(33, 33, 33);
  text-transform: none;
}

.cap {
  text-transform: none;
}

html, body {
  background-color: #181a1b;
  color: #e8e6e3;
}

a {
  color: rgb(101, 243, 248);
}

strong {
  color:rgb(158, 67, 67);
}

blockquote {
	border-left-width: 2px;
	border-left-style: solid;
	padding-left: 40px;
	margin-left: 0px;
}
